extends layout-header

block append head

block append content
  if isAdmin
    a(href='/users') Admin
  div.keys
    h1 SSH Key Management
    table
      thead
        tr
          th Type
          th Key Fingerprint
          th Label
          th
          th
      tbody
        each item in keys
          tr
            td #{ item.type }
            td(data-toggle="tooltip", data-placement="bottom", title="#{ item.key }") #{ item.fingerprint }
            td #{ item.label }
            td
              form.form-editkey(action="/forms/editkey", method="post", id="editform")
                input(type="hidden", name="type", value="#{ item.type }")
                input(type="hidden", name="key", value="#{ item.key }")
                input(type="hidden", name="label", value="#{ item.label }")
                button(type="submit", class="btn btn-primary", value="Edit Key") Edit Key
                  span.glyphicon.glyphicon-edit.icon-button
            td
              form.form-deletekey(action="/forms/deletekey", method="post", id="deleteform")
                input(type="hidden", name="type", value="#{ item.type }")
                input(type="hidden", name="key", value="#{ item.key }")
                input(type="hidden", name="label", value="#{ item.label }")
                button(type="submit", class="btn btn-primary", value="Delete Key") Delete Key
                  span.glyphicon.glyphicon-trash.icon-button
    form.form-addkey(action="/forms/addkey", method="post", id="addform")
      button(type="submit", class="btn btn-primary", value="Add Key") Add Key
        span.glyphicon.glyphicon-plus.icon-button
        
    


